/* This function puts up a background on the web page*/
body {
    background-image: url("../Crowd.webp");
    background-size: cover;
}

/* This function makes a shape of for the maindev panel*/
.maindiv{
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-evenly;
    border-radius: 50px;
    padding:40px;
    width: fit-content;
    height: fit-content;
    margin: 15% auto;
    display: flex;
}